# Artificial Neural Network

### Importing the libraries

In [62]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [63]:
tf.__version__

'2.20.0'

## Part 1 - Data Preprocessing

### Importing the dataset

In [64]:
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:-1].values # these are the parameters we want to train the model on 
y = dataset.iloc[:, -1].values
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [66]:
print(X)
X.shape

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

(10000, 10)

In [67]:
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

Label Encoding the "Gender" column

In [68]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [69]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [70]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = ct.fit_transform(X)

In [71]:
print(X)
X.shape

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

(10000, 12)

### Splitting the dataset into the Training set and Test set

In [72]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42, stratify = y)
X_train.shape

(8000, 12)

### Feature Scaling

In [73]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

### Initializing the ANN

## Part 2 - Building the ANN

In [74]:
from keras.models import Sequential
from keras.layers import Dense, Activation, Input
from keras.optimizers import Adam

In [75]:
ann = tf.keras.models.Sequential()
X_train.shape

(8000, 12)

### Adding the input layer and the first hidden layer

In [76]:
ann.add(Dense(16, input_dim=X_train.shape[1], activation = 'relu'))

C:\Users\HP\AppData\Roaming\Python\Python313\site-packages\keras\src\layers\core\dense.py:95: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

### Adding the second hidden layer

In [77]:
ann.add(Dense(8, activation = 'relu'))

### Adding the output layer

In [78]:
ann.add(Dense(1, activation = 'sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [79]:
ann.compile(optimizer=Adam(learning_rate=0.001), loss='binary_crossentropy', metrics=['accuracy'])

### Training the ANN on the Training set

In [80]:
ann.fit(X_train, y_train, batch_size = 10, epochs = 20, validation_split = 0.2)

Epoch 1/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.7987 - loss: 0.4804 - val_accuracy: 0.8100 - val_loss: 0.4356
Epoch 2/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8120 - loss: 0.4294 - val_accuracy: 0.8300 - val_loss: 0.4095
Epoch 3/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8267 - loss: 0.4064 - val_accuracy: 0.8425 - val_loss: 0.3877
Epoch 4/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8397 - loss: 0.3865 - val_accuracy: 0.8581 - val_loss: 0.3649
Epoch 5/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8497 - loss: 0.3693 - val_accuracy: 0.8681 - val_loss: 0.3475
Epoch 6/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8522 - loss: 0.3575 - val_accuracy: 0.8750 - val_loss: 0.3356
Epoch 7/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8536 - loss: 0.3508 - val_accuracy: 0.8700 - val_loss: 0.3322
Epoch 8/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8556 - loss: 0.3463 - val_accuracy: 0.8737 - val_loss: 0.3288
Epoch 9/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8567 - loss: 0.3439 - val_accuracy: 0.8712 - val_loss: 0.3298
Epoch 10/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8575 - loss: 0.3417 - val_accuracy: 0.8700 - val_loss: 0.3266
Epoch 11/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8609 - loss: 0.3393 - val_accuracy: 0.8744 - val_loss: 0.3242
Epoch 12/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8587 - loss: 0.3386 - val_accuracy: 0.8731 - val_loss: 0.3243
Epoch 13/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8589 - loss: 0.3372 - val_accuracy: 0.8712 - val_loss: 0.3304
Epoch 14/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8606 - loss: 0.3373 - val_accuracy: 0.8731 - val_loss: 0.3247
Epoch 15/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8616 - loss: 0.3365 - val_accuracy: 0.8700 - val_loss: 0.3246
Epoch 16/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8605 - loss: 0.3350 - val_accuracy: 0.8706 - val_loss: 0.3240
Epoch 17/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8606 - loss: 0.3353 - val_accuracy: 0.8737 - val_loss: 0.3237
Epoch 18/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8611 - loss: 0.3340 - val_accuracy: 0.8719 - val_loss: 0.3238
Epoch 19/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8619 - loss: 0.3333 - val_accuracy: 0.8731 - val_loss: 0.3233
Epoch 20/20
640/640 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8606 - loss: 0.3332 - val_accuracy: 0.8731 - val_loss: 0.3238

## Part 4 - Making the predictions and evaluating the model

### Predicting the result of a single observation

**Extra**

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer ?

**Solution**

In [81]:
X_new = np.array([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])
X_new.shape

(1, 12)

### Predicting the Test set results

In [91]:
pred = ann.predict(X_new)
pred = (pred > 0.5).astype(int)
print(pred)
# yes we should say goodbye

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 50ms/step
[[1]]

### Making the Confusion Matrix

In [96]:
from sklearn.metrics import confusion_matrix, accuracy_score
# Predict probabilities
y_pred_prob = ann.predict(X_test)

# Convert to binary labels (0 or 1)
y_pred = (y_pred_prob > 0.5).astype(int)
cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(cm)
acc = accuracy_score(y_test, y_pred)
print("Accuracy:", acc)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step
Confusion Matrix:
[[1528   65]
 [ 211  196]]
Accuracy: 0.862

write down about precision recall f1-score, why is it better than just accuracy, what are some other interesting metrics u can find